@use '@angular/material' as mat;
@include mat.core();
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body, html {
  background: #161215;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

h2 {
  color: white;
}
